/target
crates/**/target/
/build/
.wrangler/
/dist/
packages/cli/dist/
!packages/sdk/dist/
*.wasm
.DS_Store
node_modules/
brand_concepts/

# Local environment & secret variables
.env*
.dev.vars*
wrangler.overrides.toml
wrangler.local.toml
